.App {
  text-align: center;
}

.recharts-legend-item {
  cursor: pointer; /* Change the cursor to a pointer when hovering */
}

.disable-text-selection {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
}


